<h2 style="text-align: center;">Detalles del usuario</h2>

<div class="contenedor">
    <form [formGroup]="formulario" class="formulario-usuario" style="display: flex; flex-direction: column;">        
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Id</mat-label>
            <input type="input" matInput formControlName="id" placeholder="id">
          </mat-form-field>
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="input" matInput formControlName="name" placeholder="name">
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="input" matInput formControlName="username" placeholder="username">
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="input" matInput formControlName="phone" placeholder="phone">
          </mat-form-field> 
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Calle</mat-label>
            <input type="input" matInput formControlName="street" placeholder="calle">
          </mat-form-field> 

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Suite</mat-label>
            <input type="input" matInput formControlName="suite" placeholder="suite">
          </mat-form-field>
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input type="input" matInput formControlName="city" placeholder="ciudad">
          </mat-form-field> 

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Codigo postal</mat-label>
            <input type="input" matInput formControlName="zipcode" placeholder="zip">
          </mat-form-field> 

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pagina web</mat-label>
            <input type="input" matInput formControlName="website" placeholder="pagina web">
          </mat-form-field> 

          <a routerLink="../list" mat-button color="primary">Volver a lista</a>
      </form>     
  </div>
