.contenedor {
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
}

#icono-favorito {
    margin-left: 5%;
    width: 10%;
}

#icono-favorito:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition: all 300ms ease-out;
}

#field-id {
    width: 85%;
}