<h2 style="text-align: center;">Modificar usuario</h2>
<div class="contenedor">
    <form [formGroup]="formulario" class="formulario-usuario" style="display: flex; flex-direction: column;" (ngSubmit)="editarUsuario()">        
    
          <div class="favorito">
            <mat-form-field id="field-id" appearance="outline">
              <mat-label>Id</mat-label>
              <input type="input" matInput formControlName="id" placeholder="id" required >            
            </mat-form-field>            
            <a (click)="enviarFavorito()" id="icono-favorito" title="Agregar a favoritos" mat-icon-button color="warn"><mat-icon>favorite</mat-icon></a>
          </div>
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="input" matInput formControlName="name" placeholder="name" required>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="input" matInput formControlName="username" placeholder="username" required>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="input" matInput formControlName="phone" placeholder="phone" required>
          </mat-form-field>
    
          <button mat-raised-button color="primary" type="submit">ENVIAR</button>
            
      </form> 
      
  </div>
