<h2 style="text-align: center;">Lista de usuarios</h2>

  <table id="listaUsers" mat-table [dataSource]="listUsers" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- usenamne Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element"> 
        <!-- <button mat-icon-button color="primary" (click)="irEditar(element.id)"><mat-icon>edit</mat-icon></button> -->
        <button mat-icon-button color="primary" (click)="editar(element.id, element)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" (click)="detalles(element)"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button color="warn" (click)="eliminar(element.id)"><mat-icon>delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumsUsers"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumsUsers;"></tr>
  </table>

<!-- <app-editar-integrado [user]="user" [id]="id"></app-editar-integrado>
<button routerLink="/users/alta">IR A ALTA</button> -->

<div class="separador"></div>

<div class="contenedor-favorito-editar">
  
  <app-editar-integrado [id]="id" [user]="user" (fav)="agregarFavorito($event)"></app-editar-integrado>  
  
  <div class="contenedor-tabla">
    <h2>Favoritos</h2>  
    <table id="listaFavoritos" mat-table [dataSource]="listaFavoritos" class="mat-elevation-z8">    
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      
      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

       <!-- remove Column -->
       <ng-container matColumnDef="quitar">
        <th mat-header-cell *matHeaderCellDef style="justify-content: center; text-align: center;"> Sacar de Favoritos </th>
        <td style="justify-content: center; text-align: center;" mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="quitarFavorito(element.id)"><mat-icon>delete</mat-icon></button>
        </td>      
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumsFav"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumsFav;"></tr>
    </table> 
  </div>

</div>

<div class="separador"></div>

  
  