#listaUsers {
    width: 100%;
}

#listaFavoritos {
    width: 400px;
}

.separador {
    height: 50px;
}

.contenedor-favorito-editar {
    display: flex;
    justify-content: space-around;
}

.contenedor-tabla {    
    display: flex;
    flex-direction: column;
    align-items: center;
}