<p style="text-align: center;">Modificar usuarios</p>
<div class="contenedor">
    <form [formGroup]="formulario" class="formulario-usuario" style="display: flex; flex-direction: column;" (ngSubmit)="editarUsuario()">        
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Id</mat-label>
            <input type="input" matInput formControlName="id" placeholder="id" required >
          </mat-form-field>
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="input" matInput formControlName="name" placeholder="name" required>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input type="input" matInput formControlName="username" placeholder="username" required>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="input" matInput formControlName="phone" placeholder="phone" required>
          </mat-form-field>
    
          <button mat-raised-button color="primary" type="submit">ENVIAR</button>
      </form> 
  </div>