.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-usuario .example-full-width {
    width: 500px;
}

.formulario-usuario button {
    width: 100px;
}